data/train
data/val
data/test
data/testing_img_order.txt
data/training_labels.txt
model
result
train/*.tmp
test_timm.py
src/model_structure
src/model list.txt
src/train_test_lr.py
VRDL_110-1_HW1.pptx
VRDL_HW1_309551146_Report.docx
VRDL_HW1_309551146_Report.pdf